body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1{
  margin-top: 0;
  padding: 2%;
  background: lightblue;
}
.stage{
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  /*why wont the object center?*/
  position: absolute;
  left: 50%;
  margin-left: -250px;
}
.control{
  text-align: center;
  align-items: center;
  margin: 0 auto;
  /*height: 300px;*/
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 110px;
  left: 3%;
  background-color: white;
  border: 2px solid grey;
  /*overflow-x: hidden;*/
  padding: 15px;
  border-radius: 8px;
}

.control ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.control-item{
  padding-top: 17px;
  text-align: center;
  list-style-type: none;
}

.triangle{
  transform: rotate(-90deg);
}